*{
    padding: 0;
    margin: 0;
    box-sizing: border-box    
}

h1, h2, p, a{
    font-family: 'Comic Sans', sans-serif;
}

header{
    background: url(/img/design1_image1.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    overflow: hidden;
    margin: 0 40px;
}

nav img{
    background-color: rgb(196, 25, 39);
    width: 135px;    
    position: absolute;
    right: 500px;
    left: 75%;
    top: 460px;
    padding: 10px;
    border: 5Px solid white;
    border-radius: 15px;
}

header h1{
    font-size: 80px;    
    text-shadow: -2px -2px 0px #ffffff, 2px -2px 0px #ffffff, -2px 2px 0px #ffffff, 2px 2px 0px #ffffff;
    padding: 20px;    
}

nav{
    margin: 0 40px;
}

nav p{
    font-size: 40px;    
    text-align: center; 
    color: white;      
    font-weight: bold;
}

nav div{
    background-color: black;
    padding: 10px;            
}

main{
    margin: 10px 40px;             
}

main p {
    font-size: 20px; 
}

a{
    text-decoration: none;
    display: block;                    
    font-size: 20px;    
    margin: 60px 0;

}

main img{
    width: 300px;     
    margin: 0 60px;      
}

main section{
    width: 200px;
    display: block;
    position: relative;
}

main div{
    display: inline-block;
}

main h2{   
    font-size: 30px; 
}

main p{
    margin-bottom: 15px;
}

.contact a{
    display: inline;
    top: 0;
}

.about{    
    width: 60%;    
}

.about p{
    font-size: 15px;
}
